.view-page {
  font-size: 1.2em;
}
.view-page h1 {
  text-align: center;
  margin-bottom: 1em;
}
.view-page form {
  padding: 40px 20px;
}
.view-page form > div {
  display: flex;
  margin-bottom: 0.5em;
  line-height: 1.5em;
}
.view-page form > div label {
  flex-basis: 100px;
}
.view-page form > div input,
.view-page form > div textarea {
  flex: 1;
}
.view-page form > div input[type="button"] {
  font-size: 2em;
}